@import url('https://fonts.googleapis.com/css?family=Raleway:600');

body {
  background: #0d1f2c;
  color: white;
}

.wallet-watcher-header {
  font-family: 'Raleway', sans-serif;
  font-size: 4em;
  color: #47c8c7;
}

.sub-text {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  text-align: center;
  color: #d60d90;
}

.chart {
  width: 600px;
  height: 125px;
  background: #eee;
  border-color: #d60d90;
}

input {
  width: 250px;
  margin: 0.4rem 1rem 1rem 0;
  height: 30px;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 0.5px solid #d60d90;
  padding: 0.2rem 1rem;
  box-shadow: 0px 0px 0px 1px #fff inset;
}

.HasError {
  color: red;
  font-size: 0.7rem;
  text-align: right;
  margin-left: 12rem;
  margin-top: -1rem;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 0.8em;
    margin-left: 1rem;
  }
  .wallet-watcher-header {
    font-size: 2em;
  }

  .sub-text {
    font-size: 0.7em;
  }

  .chart {
    width: 350px;
    height: 100px;
  }

  input {
    width: 200px;
  }

  .HasError {
    margin-left: 7rem;
  }
}
